/* @theme kennedy-hd */

/*
  ============================================
    Created by Flavio Barisi
    version: 1.0
    last update: 05.jun.2023
  ============================================       
*/

/* Importing Theme */

@import "gaia";
@import './highlightjs-theme/default.css';

/***************** COMMON STRUCTURE **********************/

section {
  --color-background: #FFFFFF;
  --color-foreground: #000000;
  --color-highlight: #E30512;
  --red-color: #E30512;
  padding-top: 10%;
  padding-bottom: 4%;
  padding-left: 9%;
  padding-right: 5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 50px;
  line-height: 1.35;
  letter-spacing: 1.25px;
  font-family: Lato, sans-serif;
  width: 1920px;
  height: 1080px;
  background-color: var(--color-background);
  background-image: none;
}

header {
  display: flex;
  justify-content: end;
  align-items: start;
  height: 14%;
  padding: 2%;
  z-index: 2;
}

header img {
  height: 100%;
  content: url("images/logo_small.png");
}

section::after {
  padding: 3% 2%;
  height: 10%;
  line-height: 10%;
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

section:before {
  content: '';
  background-color: var(--red-color);
  width: 100%;
  height: 100%;
  clip-path: polygon(4% 0%, 4% 100%, 6% 100%, 6% 0%);
  position: absolute;
  z-index: 0;
  margin-left: -9%;
  margin-top: -10% !important;
  margin-bottom: -4%;
}

.spacer {
  flex-grow: 1;
}

code {
  color: var(--color-foreground);
}

pre {
  background: var(--color-background);
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 40px;
}

.three-columns {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

ol {
  list-style: none;
  counter-reset: item;
}

ol>li:before {
  content: counter(item) ". ";
  counter-increment: item;
  color: var(--red-color);
  display: inline-block;
  margin-left: -30px;
  padding-right: 10px;
}

ul li::marker {
  content: "▶";
  color: var(--red-color);
}

ul li {
  padding-left: 10px;
}


ul li li::marker,
ol li li::marker {
  content: "◼";
  color: var(--red-color);
}

ul,
ol {
  margin-block-start: 0.6em;
  margin-block-end: 0.6em;
}

ul ul,
ol ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ul>li,
ol>li {
  margin: 0.3em 0 0;
}

ul>p,
ol>p {
  margin: 0.6em 0 0;
}

ul {
  padding-inline-start: 3.5%;
}

section:not(.titlepage):not(.sectionpage)>h1:first-of-type {
  position: absolute;
  top: 0px;
  left: 9%;
  z-index: 2;
  max-width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 1.55rem;
}

section>p>img,
.columns img,
section>p>a>img {
  display: block;
  margin: auto;
}

section>ul>li>p>img {
  display: block;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 3.5%;
}

section>p>img,
section>p>a>img {
  width: 100%;
  object-fit: cover;
}

.columns img {
  width: 100%;
  object-fit: cover;
}

img[src*='#auto'] {
  width: auto;
}

p:has(> img) {
  margin: 0;
}

table thead th {
  background: white;
  color: black;
}

table th,
table td {
  border-color: #777777;
}

blockquote {
  margin: 0;
  padding: 1em;
  background-color: #d8ecf7;
}

blockquote::after,
blockquote::before {
  content: none;
}

thead th:empty {
  display: none;
}


/* ------------------- SMALL -----------------------------*/

section.small li,
section.small p,
section.small table {
  font-size: 0.8rem;
}

section.small table th,
section.small table td {
  padding: 0.15em 0.4em;
}


/* ------------------- THANKSPAGE -----------------------------*/


section.thankspage {
  background-image: url("images/grazie-hd.jpg");
}

section.thankspage::after {
  display: none;
}

section.thankspage::before {
  content: none;
}

section.thankspage header img {
  content: url("images/logo_small_white.png");
}

/* ------------------- SUMMARYPAGE -----------------------------*/


section.summarypage a {
  color: black;
  text-decoration: none;
}

/* ------------------- TITLEPAGE -----------------------------*/

section.titlepage {
  padding-top: 4%;
  color: white !important;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: black !important;
}

section.titlepage header img {
  content: url("images/logo_small_white.png");
}

section.titlepage::after {
  display: none;
}

section.titlepage::before {
  display: none;
}

section.titlepage .shape {
  background-color: var(--red-color);
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0%, 55% 0%, 80% 100%, 100% 100%);
  position: absolute;
  z-index: 0;
  margin-top: -4% !important;
  margin-left: -9%;
  margin-bottom: -4%;
}

section.titlepagev2 .shape {
  clip-path: polygon(100% 0%, 65% 0%, 90% 100%, 100% 100%);
}

section.titlepage h1 {
  max-width: 60%;
  font-size: 2.3rem;
}

section.titlepagev2 h1 {
  max-width: 70%;
  font-size: 2rem;
}

section.titlepage h2 {
  max-width: 70%;
}

section.titlepagev2 h2 {
  font-size: 1.2rem;
  font-weight: normal;
}

section.titlepagev2 h2 strong {
  color: white;
  font-weight: bold;
}


/* ------------------- SECTIONPAGE -----------------------------*/

section.sectionpage {
  padding-top: 0px;
  color: white !important;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: var(--red-color) !important;
}

section.sectionpage header img {
  content: url("images/logo_small_white.png");
}

section.sectionpage:before {
  content: '';
  background-color: white;
  width: 100%;
  height: 100%;
  clip-path: polygon(90% 20%, calc(90% - 75px) 20%, calc(90% - 75px) calc(90% - 75px), calc(90% - 600px) calc(90% - 75px), calc(90% - 600px) 90%, 90% 90%, 90% 20%);
  position: absolute;
  z-index: 0;
  margin-top: 0% !important;
  margin-left: -9%;
  margin-bottom: -4%;
}

section.sectionpage h1 {
  font-size: 2.2rem;
  max-width: 80%;
}

/* ------------------- STRUCTURED TEXT -----------------------------*/

.line {
  margin-top: 25px;
  margin-bottom: -5px;
  border-top: 3px solid lightgrey;
}